blinker
certifi
charset-normalizer
click
colorama
dlib
face-recognition
face_recognition_models
Flask
Flask-SQLAlchemy
greenlet
idna
itsdangerous
Jinja2
MarkupSafe
mysql-connector
mysql-connector-python
numpy
opencv-python
packaging
pillow
requests
SQLAlchemy
setuptools
typing_extensions
urllib3
Werkzeug
WTForms
waitress






